.tarjeta {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 2rem;
    text-align: center;
    display: block;
    justify-content: center;
    margin: auto;
  }

  
  .tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .imagen{
    width: 150px;
    height: 150px;
    border-radius: 10%;

  }

  .boton {
    background-color: #107fc0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
    text-decoration: none;
    }
    
    .boton:hover {
    background-color: #ddd;
    color: black;
    border-radius: 1px;

    }